.r-page__page-action-bar{
    text-align: right;
    margin-top: 20px;
}

.autocomplete.control .control input[type=text]{
    padding: 3px 35px;
}

.datepicker .dropdown .input[readonly], .datepicker .dropdown-trigger .input[readonly]{
    padding: 8px 35px !important;
}

.select:not(.is-multiple){
    width: 200px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

body .button{
    min-width: 0px;
}

.buttons{
    justify-content: center;
}

.modal-card-body{
    text-align: center;
}
.file{
    justify-content: center;
}

.data-client-column{
    text-align: center;
}

.dropdown-new select{
    width: 100%;
}

.b-table .table td{
    font-size: 1em !important;
}

.report-btn{
    width: 110px !important;
}

.btn-report{
    display: flex;
    flex-direction: column;
    justify-content: center;
}