.column{
    text-align: center;
    // box-shadow: 0 3px 10px rgba($color: #000000, $alpha: .2);
    // padding: 20px;
    &:not(:last-child){
        border-right: 3px solid rgba($color: #4a4a4a, $alpha: .3);
    }

    .title{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .total{
        font-weight: bold;
        font-size: 3em;
    }
}

.page-filter {
    margin-bottom: 30px !important;
    text-align: right;
}

.result_title{
    margin-top: 30px;
}

.b-sidebar .sidebar-content.is-fixed.is-right{
    padding: 20px;
}

#result{
    display: none;
}

.close-detail{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.media-content{
    text-align: left;
}

.modal-card-body{
    text-align: left !important;
}

.field-group{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .field{
        margin-bottom: 10px !important;
    }

    .divider{
        margin: 0 10px;
    }
}

.hidden{
    display: none;
}

.result-bar{
    display: flex;
    justify-content: space-between;
}