<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Bulk Searching Upload History</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        <template #action-bar>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>

           <b-button tag="a" href="/api/checking/get_download" download="import_single" type="is-success"
                >Download Excel Template</b-button
            >
           
            <b-button type="is-info" @click="isModalUploadActive = true"
                >Import (bulk upload)</b-button
            >
        </template>
        <template #page-content>
            <b-table
                :data="data"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
                :loading="loading"
                backend-pagination
                :total="total"
                 @page-change="onPageChange"
                  @sort="onSort"
            >
                <b-table-column
                    field="admin_name"
                    label="Search by"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.users == null"></span><span v-else>{{ props.row.users.nik }}</span>
                </b-table-column>

                <b-table-column
                    field="upload_id"
                    label="Upload ID"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.users == null"></span><span v-else>{{ props.row.users.id }}</span>
                </b-table-column>

                <b-table-column
                    field="branch_id"
                    label="Branch ID"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.users == null"></span><span v-else>{{ props.row.users.branch.branchid }}</span>
                </b-table-column>

                <b-table-column
                    field="file_name"
                    label="File Name"
                    
                    v-slot="props"
                >
                    {{ props.row.file_name }}
                </b-table-column>

                <b-table-column
                    field="total_input"
                    label="Jumlah Data"
                    
                    v-slot="props"
                >
                    {{ props.row.total_data-1 }}
                </b-table-column>

                 <b-table-column
                    field="status"
                    label="Status"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.total_gagal == 0"><span class="tag is-success">
                        Berhasil
                    </span></span><span v-else><span class="tag is-danger">
                        Gagal
                    </span></span>
                </b-table-column>

                <b-table-column
                    field="action"
                    label="Action"
                    
                    v-slot="props"
                >
                    <b-button
                        type="is-success"
                        @click="openDataDetail(props.row.id)"
                        >Hasil Detail</b-button
                    >
                    
                </b-table-column>
            </b-table>
            <b-modal v-model="isModalUploadActive" :width="640" scroll="keep">
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Upload File</p>
                        <button
                            type="button"
                            class="delete"
                            @click="$emit('close')"
                        />
                    </header>
                    <section class="modal-card-body">
                        <input type="file" @change="selectFile" />
                    </section>
                    <footer class="modal-card-foot">
                        <b-button label="Upload" @click="upload" />
                    </footer>
                </div>
            </b-modal>
            <b-modal v-model="isModalProgressActive" :width="640" scroll="keep">
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Upload File</p>
                        <button
                            type="button"
                            class="delete"
                            @click="$emit('close')"
                        />
                    </header>
                    <section class="modal-card-body">
                        <b-progress type="is-info"></b-progress>
                    </section>
                    <footer class="modal-card-foot"></footer>
                </div>
            </b-modal>
           
            <section>
                    <b-sidebar
                        type="is-light"
                        :fullheight="fullheight"
                        :fullwidth="fullwidth"
                        :overlay="overlay"
                        :right="right"
                        v-model="isopenDataMentah"
                    >
                        <b-field label="Data Mentah Blacklist">
                            <b-input type="textarea" :value="data_mentah"></b-input>
                        </b-field>
                        </b-table>
                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDataMentah = false"
                            >Close</b-button
                        >
                    </b-sidebar>
                </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            data: [],
            data_error:[],
            data_mentah:"",
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            file: null,
            isModalUploadActive: false,
            isModalProgressActive: false,
            isopenDataMentah:false,
            isopenDetailError: false,
            overlay: true,
            fullheight: true,
            fullwidth: false,
            right: true,
            isLoading: false,
            isFullPage: true,
            value: 0,
            data_total:0,
            loading:false,
            total: 0,
            defaultSortOrder: 'desc',
            sortField: '',
            sortOrder: 'desc',
            page: 1,
            currentPage: 1,
        };
    },
    created() {
         axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
               if(response.data.data.id_role == 1){
                  this.loadAsyncData()
                }else if(response.data.data.id_role == 2){
                  this.loadAsyncData()
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
        
        // axios.get("/api/checking/get_bulk").then(response => {
        //     (response.data)
        //     this.data = response.data.reverse();
        //     this.isLoading = false;
        //     this.data_total = response.data[response.data.length-1].id
        // });
    },
    methods: {
        loadAsyncData() {
                this.loading = true
                axios.get("/api/checking/get_bulk?page="+this.page).then(response => {
                    this.data = []
                    let currentTotal = response.data.total
                    if (response.data.total / this.perPage > 1000) {
                        currentTotal = this.perPage * 1000
                    }
                    this.total = currentTotal
                    response.data.data.forEach((item) => {
                        this.data.push(item)
                    })
                    this.loading = false
                });
               
        },
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        confirmImport() {
            this.$buefy.dialog.confirm({
                title: "Warning",
                message: `Successfully Upload and Check 25 Data<br><br>Click Download to download information about Failed Upload File<br><br>Use Detail Button to See The Result`,
                cancelText: "Close",
                confirmText: "Download",
                type: "is-success",
                onConfirm: () => this.$buefy.toast.open("Downloading")
            });
        },
        openDataError(){
            var id = this.data_total
            this.isLoading = true;
            for (var i = 0; i < this.data.length; i++) {
                if(this.data[i].id == id){
                    this.data_error = this.data[i].blacklist_error
                    this.isopenDetailError = true
                    this.isLoading = false;
                }
            }
        },
        openDataDetail(id){
            window.location.href = "/deduplication/bulk-result/"+id
        },
        openDataMentah(id){
            this.isLoading = true;
            for (var i = 0; i < this.data_error.length; i++) {
                if(this.data_error[i].id == id){
                    this.data_mentah = this.data_error[i].data_mentah
                    this.isopenDataMentah = true
                    this.isLoading = false;
                }
            }
        },
        selectFile(event) {
            // `files` is always an array because the file input may be in multiple mode
            this.file = event.target.files[0];
        },
        upload() {
            
            if (this.file != null) {
                this.isModalUploadActive = false;
                this.isModalProgressActive = true;
                const data = new FormData();
                data.append("file", this.file);
                 try {
                    axios
                        .post("/api/checking/import", data)
                        .then(
                            function(response) {
                                (response)
                                this.isModalProgressActive = false;
                                if (response.data.status == 1) {
                                    this.$buefy.toast.open({
                                        message: "File Uploaded",
                                        type: "is-success"
                                    });
                                    location.reload()
                                } else {
                                    this.$buefy.snackbar.open({
                                        message: "Upload Failed",
                                        type: "is-warning",
                                        position: "is-top",
                                        actionText: "Retry",
                                        indefinite: true,
                                        onAction: () => {
                                            this.isModalUploadActive = true;
                                        }
                                    });
                                }
                            }.bind(this)
                        ).catch(error => {
                            (error)
                            this.isModalProgressActive = false;
                            this.$buefy.snackbar.open({
                                                message: "Upload Failed",
                                                type: "is-warning",
                                                position: "is-top",
                                                actionText: "Retry",
                                                indefinite: true,
                                                onAction: () => {
                                                    this.isModalUploadActive = true;
                                                }
                                            });
                                })
                 }catch (error) {
                    this.$buefy.snackbar.open({
                                        message: "Upload Failed",
                                        type: "is-warning",
                                        position: "is-top",
                                        actionText: "Retry",
                                        indefinite: true,
                                        onAction: () => {
                                            this.isModalUploadActive = true;
                                        }
                                    });
            }
                
            }
        }
    }
};
</script>
