<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Bulk Checking Result</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        <template #action-bar>
           <div class="result-bar">
        <b-button
                type="is-success"
                tag="router-link"
                to="/deduplication/bulk-upload"
                >Kembali</b-button
            >

            </div>
        </template>
        <template #page-content>
            <b-table
                :data="data"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
            >
                <b-table-column
                    field="nama"
                    label="Nama"

                    v-slot="props"
                >
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="nik" label="NIK"  v-slot="props">
                    {{ props.row.nik }}
                </b-table-column>

                <b-table-column
                    field="dob"
                    label="Birth Date"

                    v-slot="props"
                >
                    {{ new Date(props.row.birth_date).toLocaleDateString() }}
                </b-table-column>

                <b-table-column
                    field="data_client"
                    label="Data Client"

                    centered
                    v-slot="props"
                    class="data-client-column"
                >
                    <div class="buttons">
                        <a
                            type="is-info"
                            @click="openDetailClient(props.row.id)"
                            >{{props.row.data_client.length}}</a
                        >
                    </div>
                </b-table-column>

                <b-table-column
                    field="data_blacklist"
                    label="Data Blacklist"

                    v-slot="props"
                >
                    <a @click="openDetailBlacklist(props.row.id)">{{ props.row.blacklist_data.length }}</a>
                </b-table-column>

                <b-table-column
                    field="data_report"
                    label="Data Report"

                    v-slot="props"
                >
                    <a @click="openDetailReport(props.row.id)">{{ props.row.report.length }}</a>
                </b-table-column>


                <b-table-column
                    field="action"
                    label="Action"

                    centered
                    v-slot="props"
                >
                    <div class="buttons">
                        <b-button
                            type="is-danger"
                            @click="report(props.row.name, props.row.nik, props.row.birth_date, props.row.id)"
                            >Report</b-button
                        >
                    </div>
                </b-table-column>
            </b-table>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="true"
                    :overlay="overlay"
                    :right="right"
                    v-model="isopenDetailClient"
                >
                    <h5>View Detail Client</h5>
                    <b-table
                        :data="data_client"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                         <b-table-column
                            field="nama"
                            label="Nama"

                            v-slot="props"
                        >
                            {{ props.row.name }}
                        </b-table-column>

                        <b-table-column
                            field="dob"
                            label="Date of Birth"

                            v-slot="props"
                        >
                            {{
                                new Date(
                                    props.row.DateOfBirth
                                ).toLocaleDateString()
                            }}
                        </b-table-column>

                        <b-table-column
                            field="region_id"
                            label="Region ID"

                            v-slot="props"
                        >
                            {{ props.row.RegionID }}
                        </b-table-column>

                        <b-table-column
                            field="branch_id"
                            label="Branch ID"

                            v-slot="props"
                        >
                            {{ props.row.OurBranchID }}
                        </b-table-column>

                        <b-table-column
                            field="client_id"
                            label="Client ID"

                            v-slot="props"
                        >
                            {{ props.row.ClientID }}
                        </b-table-column>

                        <b-table-column
                            field="account_id"
                            label="Account ID"

                            v-slot="props"
                        >
                            {{ props.row.accountid }}
                        </b-table-column>

                        <b-table-column
                            field="disbursement_date"
                            label="First Disbursement Date"

                            v-slot="props"
                        >
                            {{ props.row.FirstDisbursementDate }}
                        </b-table-column>

                        <b-table-column
                            field="group_id"
                            label="Group ID"

                            v-slot="props"
                        >
                            {{ props.row.GroupID }}
                        </b-table-column>

                        <b-table-column
                            field="group_name"
                            label="Group Name"

                            v-slot="props"
                        >
                            {{ props.row.GroupName }}
                        </b-table-column>

                        <b-table-column
                            field="ktp"
                            label="KTP"

                            v-slot="props"
                        >
                            {{ props.row.KTP }}
                        </b-table-column>

                         <b-table-column
                            field="wo_reason"
                            label="WO Reason"

                            v-slot="props"
                        >
                            {{ props.row.wo_reason }}
                        </b-table-column>

                        <b-table-column
                            field="LoanStatusID"
                            label="Loan Status ID"

                            v-slot="props"
                        >
                            {{ props.row.LoanStatusID }}
                        </b-table-column>

                    <b-button
                        type="is-primary"
                        class="close-detail"
                        @click="isopenDetailClient = false"
                        >Close</b-button
                    >
                    </b-table>
                </b-sidebar>
            </section>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="true"
                    :overlay="overlay"
                    :right="right"
                    v-model="isopenDetailBlacklist"
                >
                    <h5>View Detail Blacklist</h5>
                    <b-table
                        :data="data_blacklist"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                        :loading="loading"
                        backend-pagination
                        :total="total"
                        @page-change="onPageChange"
                        @sort="onSort"
                    >
                         <b-table-column
                        field="nama"
                        label="Nama"

                        v-slot="props"
                    >
                        {{ props.row.name }}
                    </b-table-column>

                    <b-table-column
                        field="dob"
                        label="Birth Date"

                        v-slot="props"
                    >
                        {{ new Date(props.row.birth_date).toLocaleDateString() }}
                    </b-table-column>

                    <b-table-column
                        field="nik"
                        label="NIK"

                        v-slot="props"
                    >
                        {{ props.row.nik }}
                    </b-table-column>

                    <b-table-column
                        field="match"
                        label="Kecocokan"

                        v-slot="props"
                    >
                        {{ props.row.match }}
                    </b-table-column>

                    <b-table-column
                        field="action"
                        label="Data Mentah"

                        v-slot="props"
                    >
                        <b-button
                            type="is-success"
                            @click="openDataMentah(props.row.id)"
                            >Lihat data Detail</b-button
                        >
                    </b-table-column>

                    <b-button
                        type="is-primary"
                        class="close-detail"
                        @click="isopenDetailBlacklist = false"
                        >Close</b-button
                    >
                    </b-table>
                </b-sidebar>
            </section>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="true"
                    :overlay="overlay"
                    :right="right"
                    v-model="isopenDetailReport"
                >
                    <h5>View Detail Report</h5>
                    <b-table
                        :data="data_report"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                        <b-table-column
                            field="admin_name"
                            label="Report by"

                            v-slot="props"
                        >
                            {{ props.row.report_by.name }}
                        </b-table-column>

                        <b-table-column
                            field="admin_nik"
                            label="Report by NIK"

                            v-slot="props"
                        >
                            {{ props.row.report_by.nik }}
                        </b-table-column>

                        <b-table-column
                            field="report_date"
                            label="Tanggal Report"

                            v-slot="props"
                        >
                            {{
                                new Date(
                                    props.row.report_date
                                ).toLocaleDateString()
                            }}
                        </b-table-column>

                        <b-table-column
                            field="report_id"
                            label="Report ID"

                            v-slot="props"
                        >
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column
                            field="report_status"
                            label="Report Status"

                            v-slot="props"
                        >
                            <span v-if="props.row.status == 0">Unverified</span><span v-if="props.row.status == -1">Rejected</span><span v-if="props.row.status == 1">Verified</span>
                        </b-table-column>

                    <b-button
                        type="is-primary"
                        class="close-detail"
                        @click="isopenDetailReport = false"
                        >Close</b-button
                    >
                    </b-table>
                </b-sidebar>
            </section>
            <section>
                    <b-sidebar
                        type="is-light"
                        :fullheight="fullheight"
                        :fullwidth="fullwidth"
                        :overlay="overlay"
                        :right="right"
                        v-model="isopenDataMentah"
                    >
                        <b-field label="Data Mentah Blacklist">
                            <b-input readonly type="textarea" :value="data_mentah"></b-input>
                        </b-field>
                        </b-table>
                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDataMentah = false"
                            >Close</b-button
                        >
                    </b-sidebar>
                </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            data_client: [],
            data_blacklist: [],
            data_report: [],
            data:[],
            data_mentah:"",
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            isopenDataMentah: false,
            isopenDetailClient: false,
            isopenDetailBlacklist: false,
            isopenDetailReport: false,
            overlay: true,
            fullheight: true,
            fullwidth: false,
            right: true,
            router: this.$route.params.id,
            loading:false,
            total: 0,
            defaultSortOrder: 'desc',
            sortField: '',
            sortOrder: 'desc',
            page: 1,
            currentPage: 1,
        };
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
               if(response.data.data.id_role == 1){
                  this.loadAsyncData();
                }else if(response.data.data.id_role == 2){
                  this.loadAsyncData();
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
        // axios.get("/api/checking/get_by_bulk?id=" + this.router).then(response => {
        //     this.data = response.data;
        //     (response.data)

        //     this.isLoading = false;

        // });

    },
    methods: {
        loadAsyncData() {
                this.loading = true
                axios.get("/api/checking/get_by_bulk?id=" + this.router+"&page="+this.page).then(response => {
                    this.data = []
                    let currentTotal = response.data.total
                    if (response.data.total / this.perPage > 1000) {
                        currentTotal = this.perPage * 1000
                    }
                    this.total = currentTotal
                    response.data.data.forEach((item) => {
                        this.data.push(item)
                    })
                    this.loading = false
                });

        },
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        openDetailBlacklist(id){
            for (var i = 0; i < this.data.length; i++) {
               if(this.data[i].id == id){
                    this.data_blacklist = this.data[i].blacklist_data
                    this.isopenDetailBlacklist = true;
               }
            }
        },
         openDetailReport(id){
            for (var i = 0; i < this.data.length; i++) {
               if(this.data[i].id == id){

                    this.data_report = this.data[i].report;
                    this.isopenDetailReport = true;

               }
            }
        },
        openDetailClient(id){
            for (var i = 0; i < this.data.length; i++) {
               if(this.data[i].id == id){
                    this.data_client = this.data[i].data_client
                    this.isopenDetailClient = true;
               }
            }
        },
        openDataMentah(id){
            for (var i = 0; i < this.data_blacklist.length; i++) {
               if(this.data_blacklist[i].id == id){
                    this.data_mentah = this.data_blacklist[i].data_mentah
                    this.isopenDataMentah = true;
               }
            }
        }
        report(name,nik,dob,id){
            this.$buefy.dialog.confirm({
                title: "Reporting",
                message:
                    "Are you sure you want to <b>report</b> this? This action cannot be undone.",
                confirmText: "Report",
                type: "is-danger",
                hasIcon: true,
                onConfirm: () => {
                    try{
                        axios
                        .post("/api/checking/report", {
                            'name' : name,
                            'nik' : nik,
                            'bod' : dob,
                            'id_history' : id,
                        })
                        .then(
                            function(response) {
                                if (response.data == null) {
                                    this.$buefy.snackbar.open({
                                        message: "Report Failed",
                                        type: "is-warning",
                                        position: "is-top",
                                        actionText: "Retry",
                                        indefinite: true,
                                        onAction: () => {
                                            this.isLoading = false;
                                        }
                                    });
                                } else {
                                    this.$buefy.toast.open({
                                        message: "Report Success",
                                        type: "is-success"
                                    });
                                    this.isLoading = true;
                                }
                            }.bind(this)
                        );
                    }catch(error){
                        this.$buefy.snackbar.open({
                            message: "Report Failed",
                            type: "is-warning",
                            position: "is-top",
                            actionText: "Retry",
                            indefinite: true,
                            onAction: () => {
                                this.isLoading = false;
                            }
                        });
                    }

                }
            });
        }
    }
};
</script>
