<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">History User Checking</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        <template #action-bar>
            <b-button type="is-success" tag="a" :href="href" download="export_excel">Export to Excel</b-button>
            <b-button type="is-danger" icon-left="filter" @click="ismodalFilter=true"
                >Filter</b-button
            >
        </template>
        <template #page-content>
         <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <b-table
                :data="data"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
                :loading="loading"
                backend-pagination
                :total="total"
                @page-change="onPageChange"
                @sort="onSort"
            >
                <b-table-column
                    field="nama"
                    label="Nama"
                    
                    v-slot="props"
                >
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="nik" label="NIK"  v-slot="props">
                    {{ props.row.nik }}
                </b-table-column>

                <b-table-column
                    field="dob"
                    label="Date of Birth"
                    
                    v-slot="props"
                >
                    {{ new Date(props.row.birth_date).toLocaleDateString() }}
                </b-table-column>

                <b-table-column
                    field="admin_nik"
                    label="Admin NIK"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.admin == null"></span><span v-else>{{ props.row.admin.nik }}</span>
                </b-table-column>

                <b-table-column
                    field="admin_name"
                    label="Admin Name"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.admin == null"></span><span v-else>{{ props.row.admin.name }}</span>
                </b-table-column>

                <b-table-column
                    field="branch_id"
                    label="Branch ID"
                    
                    v-slot="props"
                >
                    <span v-if="props.row.admin == null"></span><span v-else>{{ props.row.admin.branch.branchid }}</span>
                </b-table-column>

                <b-table-column
                    field="check_date"
                    label="Checking Date"
                    
                    v-slot="props"
                >
                    {{ new Date(props.row.updated_at).toLocaleDateString() }}
                </b-table-column>

                <b-table-column
                    field="data_client"
                    label="Data Client"
                    
                    v-slot="props"
                >
                    <div class="buttons">
                        <a
                            type="is-info"
                            @click="openDetailClient(props.row.id)"
                            >{{props.row.data_client.length}}</a
                        >
                    </div>
                </b-table-column>

                <b-table-column
                    field="data_blacklist"
                    label="Data Blacklist"
                    
                    v-slot="props"
                >
                    <a @click="openDetailBlacklist(props.row.id)">{{
                        props.row.blacklist_data.length
                    }}</a>
                </b-table-column>

                <b-table-column
                    field="data_report"
                    label="Data Report"
                    
                    v-slot="props"
                >
                    <a @click="openDetailReport(props.row.id)">{{
                        props.row.report.length
                    }}</a>
                </b-table-column>
            </b-table>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="true"
                    :overlay="overlay"
                    :right="right"
                    v-model="isopenDetailClient"
                >
                    <h5>View Detail Client</h5>
                    <b-table
                        :data="data_client"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                        <b-table-column
                            field="nama"
                            label="Nama"
                            
                            v-slot="props"
                        >
                            {{ props.row.name }}
                        </b-table-column>

                        <b-table-column
                            field="dob"
                            label="Date of Birth"
                            
                            v-slot="props"
                        >
                            {{
                                new Date(
                                    props.row.DateOfBirth
                                ).toLocaleDateString()
                            }}
                        </b-table-column>

                        <b-table-column
                            field="region_id"
                            label="Region ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.RegionID }}
                        </b-table-column>

                        <b-table-column
                            field="branch_id"
                            label="Branch ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.OurBranchID }}
                        </b-table-column>

                        <b-table-column
                            field="client_id"
                            label="Client ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.ClientID }}
                        </b-table-column>

                        <b-table-column
                            field="account_id"
                            label="Account ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.accountid }}
                        </b-table-column>

                        <b-table-column
                            field="disbursement_date"
                            label="First Disbursement Date"
                            
                            v-slot="props"
                        >
                            {{ props.row.FirstDisbursementDate }}
                        </b-table-column>

                        <b-table-column
                            field="group_id"
                            label="Group ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.GroupID }}
                        </b-table-column>

                        <b-table-column
                            field="group_name"
                            label="Group Name"
                            
                            v-slot="props"
                        >
                            {{ props.row.GroupName }}
                        </b-table-column>

                        <b-table-column
                            field="ktp"
                            label="KTP"
                            
                            v-slot="props"
                        >
                            {{ props.row.KTP }}
                        </b-table-column>

                         <b-table-column
                            field="wo_reason"
                            label="WO Reason"
                            
                            v-slot="props"
                        >
                            {{ props.row.wo_reason }}
                        </b-table-column>

                        <b-table-column
                            field="LoanStatusID"
                            label="Loan Status ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.LoanStatusID }}
                        </b-table-column>

                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDetailClient = false"
                            >Close</b-button
                        >
                    </b-table>
                </b-sidebar>
            </section>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="true"
                    :overlay="overlay"
                    :right="right"
                    v-model="isopenDetailBlacklist"
                >
                    <h5>View Detail Blacklist</h5>
                    <b-table
                        :data="data_blacklist"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                        <b-table-column
                            field="nama"
                            label="Nama"
                            
                            v-slot="props"
                        >
                            {{ props.row.name }}
                        </b-table-column>

                        <b-table-column
                            field="alias"
                            label="Alias"
                            
                            v-slot="props"
                        >
                            {{ props.row.alias }}
                        </b-table-column>

                        <b-table-column
                            field="dob"
                            label="Birth Date"
                            
                            v-slot="props"
                        >
                            {{ new Date(props.row.birth_date).toLocaleDateString() }}
                        </b-table-column>


                        <b-table-column
                            field="nik"
                            label="NIK"
                            
                            v-slot="props"
                        >
                            {{ props.row.nik }}
                        </b-table-column>

                        <b-table-column
                            field="match"
                            label="Kecocokan"
                            
                            v-slot="props"
                        >
                            {{ props.row.match }}
                        </b-table-column>

                        <b-table-column
                            field="action"
                            label="Data Mentah"
                            
                            v-slot="props"
                        >
                            <b-button
                                type="is-success"
                                @click="openDataMentah(props.row.id)"
                                >Lihat data Detail</b-button
                            >
                        </b-table-column>

                       
                    </b-table>
                     <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDetailBlacklist = false"
                            >Close</b-button
                        >
                </b-sidebar>
            </section>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="true"
                    :overlay="overlay"
                    :right="right"
                    v-model="isopenDetailReport"
                >
                    <h5>View Detail Report</h5>
                    <b-table
                        :data="data_report"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                        <b-table-column
                            field="admin_name"
                            label="Report by"
                            
                            v-slot="props"
                        >
                            {{ props.row.report_by.name }}
                        </b-table-column>

                         <b-table-column
                            field="admin_nik"
                            label="Report by NIK"
                            
                            v-slot="props"
                        >
                            {{ props.row.report_by.nik }}
                        </b-table-column>

                        <b-table-column
                            field="report_date"
                            label="Tanggal Report"
                            
                            v-slot="props"
                        >
                            {{
                                new Date(
                                    props.row.report_date
                                ).toLocaleDateString()
                            }}
                        </b-table-column>

                        <b-table-column
                            field="report_id"
                            label="Report ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column
                            field="report_status"
                            label="Report Status"
                            
                            v-slot="props"
                        >
                            <span v-if="props.row.status == 0">Unverified</span><span v-if="props.row.status == -1">Rejected</span><span v-if="props.row.status == 1">Verified</span>
                        </b-table-column>

                        

                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDetailReport = false"
                            >Close</b-button
                        >
                    </b-table>
                </b-sidebar>
            </section>
            <section>
                    <b-sidebar
                        type="is-light"
                        :fullheight="fullheight"
                        :fullwidth="fullwidth"
                        :overlay="overlay"
                        :right="right"
                        v-model="isopenDataMentah"
                    >
                        <b-field label="Data Mentah Blacklist">
                            <b-input readonly type="textarea" :value="data_mentah"></b-input>
                        </b-field>
                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDataMentah = false"
                            >Close</b-button
                        >
                    </b-sidebar>
                </section>
            <b-modal
                v-model="ismodalFilter"
                has-modal-card
                trap-focus
                :destroy-on-hide="false"
                aria-role="dialog"
                aria-label="Example Modal"
                aria-modal>
              <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Filter Setting</p>
                        <button
                            type="button"
                            class="delete"
                            @click="$emit('close')"/>
                    </header>
                    <section class="modal-card-body">
                       <h5>Filter by</h5>
                       <div class="field-group">
                        <b-field label="Nama Admin">
                            <b-autocomplete
                                v-model="name"
                                placeholder="e.g. Anne"
                                icon="magnify"
                                :keep-first="keepFirst"
                                :open-on-focus="openOnFocus"
                                :data="filteredDataObj"
                                @select="option => (selected = option)"
                                :clearable="clearable"
                            >
                            </b-autocomplete>
                        </b-field>
                        <h5 class="divider">OR</h5>
                        <b-field label="NIK Admin">
                            <b-autocomplete
                                v-model="nik"
                                placeholder="e.g. 327566454"
                                icon="magnify"
                                :keep-first="keepFirst"
                                :open-on-focus="openOnFocus"
                                :data="filteredDataNIK"
                                @select="option => (selectedNik = option)"
                                :clearable="clearableNik"
                            >
                            </b-autocomplete>
                        </b-field>
                        
                        </div>
                        <b-field label="Tanggal Pengecekan">
                            <b-datepicker
                                placeholder="Click to select..."
                                v-model="dates"
                                editable
                                range>
                            </b-datepicker>
                        </b-field>
                        <b-field label="Branch ID">
                            <b-select placeholder="Select Branch ID" v-model="branch_id">
                                <option
                                    v-for="option in branch"
                                    :value="option.id"
                                    :key="option.id"
                                >
                                    {{ option.branchname }}
                                </option>
                            </b-select>
                        </b-field>
                    </section>
                    <footer class="modal-card-foot">
                        <b-button
                            label="Cancel"
                            @click="$emit('close')" />
                        <b-button
                            label="Submit"
                            type="is-primary"
                            @click="filter" />
                    </footer>
                </div>
        </b-modal>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            data: [],
            dataName: [],
            dataNik: [],
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            isopenDetailClient: false,
            isopenDetailBlacklist: false,
            isopenDetailReport: false,
            ismodalFilter: false,
            isopenDataMentah: false,
            overlay: true,
            fullheight: true,
            fullwidth: false,
            branch_id:"",
            right: true,
            keepFirst: false,
            openOnFocus: false,
            name: "",
            selected: null,
            clearable: false,
            nik: "",
            dates:[],
            selectedNik: null,
            clearableNik: false,
            isLoading: false,
            isFullPage: true,
            data_client: [],
            data_blacklist: [],
            data_report: [],
            data_mentah:"",
            branch:[],
            loading:false,
            total: 0,
            defaultSortOrder: 'desc',
            sortField: '',
            sortOrder: 'desc',
            page: 1,
            currentPage: 1,
            href:"/api/checking/export_history?admin_name=&admin_nik=&start_date=&end_date=&branch="
        };
    },
    created() {
         axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
               if(response.data.data.id_role == 1){
                  this.loadAsyncData();
                }else if(response.data.data.id_role == 2){
                  this.loadAsyncData();
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
        axios.get("/api/branch").then(response => {
            this.branch = response.data;
        });
        
        // axios.get("/api/checking" ).then(response => {
        //     this.data = response.data;
        //     this.isLoading = false;
        //     (response.data)
        // });
    },
    computed: {
        
        filteredDataObj() {
            return this.dataName.filter(option => {
                return (
                    option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.name.toLowerCase()) >= 0
                );
            });
        },
        filteredDataNIK() {
            return this.dataNik.filter(option => {
                return (
                    option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.nik.toLowerCase()) >= 0
                );
            });
        }
    },
    methods: {
        loadAsyncData() {
                this.loading = true
                axios.get("/api/checking?page="+this.page).then(response => {
                    this.data = []
                    let currentTotal = response.data.total
                    if (response.data.total / this.perPage > 1000) {
                        currentTotal = this.perPage * 1000
                    }
                    this.total = currentTotal
                    response.data.data.forEach((item) => {
                        this.data.push(item)
                    })
                    this.loading = false
                });
               
        },
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        modalFilter() {
            this.$buefy.modal.open({
                parent: this,
                component: ModalFilter,
                hasModalCard: true,
                customClass: "custom-class custom-class-2",
                trapFocus: true,
                width:2048
            });
        },
         openDetailBlacklist(id){
            for (var i = 0; i < this.data.length; i++) {
               if(this.data[i].id == id){
                    this.data_blacklist = this.data[i].blacklist_data
                    this.isopenDetailBlacklist = true;
               }
            }
        },
         openDetailReport(id){
            for (var i = 0; i < this.data.length; i++) {
               if(this.data[i].id == id){
                    
                    this.data_report = this.data[i].report;
                    this.isopenDetailReport = true;
                    
               }
            }
        },
        openDetailClient(id){
            for (var i = 0; i < this.data.length; i++) {
               if(this.data[i].id == id){
                    this.data_client = this.data[i].data_client
                    this.isopenDetailClient = true;
               }
            }
        },
        openDataMentah(id){
             for (var i = 0; i < this.data_blacklist.length; i++) {
                if(this.data_blacklist[i].id == id){
                    this.data_mentah = this.data_blacklist[i].data_mentah
                    this.isopenDataMentah = true
                }
            }
        },
        filter(){
            var end_date = "";
            var start_date = "";
            if (this.dates.length != 0){
                end_date = new Date(this.dates[1])
                end_date.setDate(end_date.getDate()+1)
                end_date = end_date.toLocaleDateString()
                start_date = new Date(this.dates[0]).toLocaleDateString()
                this.start_date = start_date;
                this.end_date = end_date;
            }
            this.loading = true
            this.href = "/api/checking/export_history?admin_name="+this.name+"&admin_nik="+this.nik+"&start_date="+start_date+"&end_date="+end_date+"&branch="+this.branch_id
            axios.get("/api/checking?page="+this.page+"&admin_name="+this.name+"&admin_nik="+this.nik+"&start_date="+start_date+"&end_date="+end_date+"&branch="+this.branch_id).then(response => {
                this.data = []
                let currentTotal = response.data.total
                if (response.data.total / this.perPage > 1000) {
                    currentTotal = this.perPage * 1000
                }
                this.total = currentTotal
                response.data.data.forEach((item) => {
                    this.data.push(item)
                })
                this.loading = false
            });
            this.ismodalFilter = false;
        }
    }
};
</script>
