<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Single Checking</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>

        <template #page-content>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <section>
                <b-field horizontal label="Name">
                    <b-input
                        name="name"
                        type="text"
                        v-model="name"
                        ref="name"
                        expanded
                        required
                    ></b-input>
                </b-field>

                <b-field horizontal label="NIK">
                    <b-input
                        name="nik"
                        type="number"
                        v-model="nik"
                        ref="nik"
                        expanded
                        required
                    ></b-input>
                </b-field>

                <b-field horizontal label="Tanggal Lahir">
                    <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar-today"
                        trap-focus
                        editable
                        v-model="bod"
                        ref="dob"
                        required
                    >
                    </b-datepicker>
                </b-field>

                <b-field horizontal
                    ><!-- Label left empty for spacing -->
                    <p class="control">
                        <b-button
                            label="Check"
                            @click="validate"
                            type="is-primary"
                        />
                        <b-button
                            type="is-primary is-light"
                            label="Cancel"
                            tag="router-link"
                            to="/blacklist-data"
                        ></b-button>
                        <b-button
                            label="Report"
                            @click="confirmReport()"
                            :disabled="disabled"
                            type="is-danger"
                        />
                    </p>
                </b-field>
            </section>
            <section id="result">
                <h5 class="result_title">Data Client ditemukan</h5>
                <b-table
                    class="client_table"
                    :data="data_client"
                    :striped="striped"
                    :debounce-search="1000"
                    :paginated="isPaginated"
                    :per-page="perPage"
                    :current-page.sync="currentPage"
                    :pagination-simple="isPaginationSimple"
                    :pagination-position="paginationPosition"
                    :default-sort-direction="defaultSortDirection"
                    :pagination-rounded="isPaginationRounded"
                    :sort-icon="sortIcon"
                    :sort-icon-size="sortIconSize"
                    aria-next-label="Next page"
                    aria-previous-label="Previous page"
                    aria-page-label="Page"
                    aria-current-label="Current page"
                >
                    <b-table-column
                        field="nama"
                        label="Nama"
                        
                        v-slot="props"
                    >
                        {{ props.row.name }}
                    </b-table-column>

                    <b-table-column
                        field="dob"
                        label="Date of Birth"
                        
                        v-slot="props"
                    >
                        {{
                            new Date(props.row.DateOfBirth).toLocaleDateString()
                        }}
                    </b-table-column>

                    <b-table-column
                        field="region_id"
                        label="Region ID"
                        
                        v-slot="props"
                    >
                        {{ props.row.RegionID }}
                    </b-table-column>

                    <b-table-column
                        field="branch_id"
                        label="Branch ID"
                        
                        v-slot="props"
                    >
                        {{ props.row.OurBranchID }}
                    </b-table-column>

                    <b-table-column
                        field="client_id"
                        label="Client ID"
                        
                        v-slot="props"
                    >
                        {{ props.row.ClientID }}
                    </b-table-column>

                    <b-table-column
                        field="account_id"
                        label="Account ID"
                        
                        v-slot="props"
                    >
                        {{ props.row.accountid }}
                    </b-table-column>

                   <b-table-column
                            field="disbursement_date"
                            label="First Disbursement Date"
                            
                            v-slot="props"
                        >
                            {{ props.row.FirstDisbursementDate }}
                        </b-table-column>

                        <b-table-column
                            field="group_id"
                            label="Group ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.GroupID }}
                        </b-table-column>

                        <b-table-column
                            field="group_name"
                            label="Group Name"
                            
                            v-slot="props"
                        >
                            {{ props.row.GroupName }}
                        </b-table-column>

                    <b-table-column
                        field="ktp"
                        label="KTP"
                        
                        v-slot="props"
                    >
                        {{ props.row.KTP }}
                    </b-table-column>

                     <b-table-column
                            field="wo_reason"
                            label="WO Reason"
                            
                            v-slot="props"
                        >
                            {{ props.row.wo_reason }}
                        </b-table-column>

                        <b-table-column
                            field="LoanStatusID"
                            label="Loan Status ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.LoanStatusID }}
                        </b-table-column>
                </b-table>

                <h5 class="result_title">Data PPATK ditemukan</h5>
                <b-table
                    class="client_table"
                    :data="data_blacklist"
                    :striped="striped"
                    :debounce-search="1000"
                    :paginated="isPaginated"
                    :per-page="perPage"
                    :current-page.sync="currentPage"
                    :pagination-simple="isPaginationSimple"
                    :pagination-position="paginationPosition"
                    :default-sort-direction="defaultSortDirection"
                    :pagination-rounded="isPaginationRounded"
                    :sort-icon="sortIcon"
                    :sort-icon-size="sortIconSize"
                    aria-next-label="Next page"
                    aria-previous-label="Previous page"
                    aria-page-label="Page"
                    aria-current-label="Current page"
                >
                    <b-table-column
                        field="nama"
                        label="Nama"
                        
                        v-slot="props"
                    >
                        {{ props.row.name }}
                    </b-table-column>

                    <b-table-column
                        field="dob"
                        label="Birth Date"
                        
                        v-slot="props"
                    >
                        {{
                            new Date(props.row.birth_date).toLocaleDateString()
                        }}
                    </b-table-column>

                    <b-table-column
                        field="nik"
                        label="NIK"
                        
                        v-slot="props"
                    >
                        {{ props.row.nik }}
                    </b-table-column>

                    <b-table-column
                        field="action"
                        label="Data Mentah"
                        
                        v-slot="props"
                    >
                        <b-button
                            type="is-success"
                            @click="openDataMentah(props.row.id)"
                            >Lihat data Detail</b-button
                        >
                    </b-table-column>
                </b-table>

                <section id="report_history">
                    <h5 class="result_title">Report History</h5>

                    <b-table
                        class="client_table"
                        :data="data_report"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                        <b-table-column
                            field="admin_name"
                            label="Report by"
                            
                            v-slot="props"
                        >
                            {{ props.row.report_by.name }}
                        </b-table-column>

                        <b-table-column
                            field="admin_nik"
                            label="Report by NIK"
                            
                            v-slot="props"
                        >
                            {{ props.row.report_by.nik }}
                        </b-table-column>

                        <b-table-column
                            field="report_date"
                            label="Tanggal Report"
                            
                            v-slot="props"
                        >
                            {{
                                new Date(
                                    props.row.report_date
                                ).toLocaleDateString()
                            }}
                        </b-table-column>

                        <b-table-column
                            field="report_id"
                            label="Report ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column
                            field="report_status"
                            label="Report Status"
                            
                            v-slot="props"
                        >
                            <span v-if="props.row.status == 0">Unverified</span
                            ><span v-if="props.row.status == -1">Rejected</span
                            ><span v-if="props.row.status == 1">Verified</span>
                        </b-table-column>
                    </b-table>
                </section>
                <section>
                    <b-sidebar
                        type="is-light"
                        :fullheight="fullheight"
                        :fullwidth="fullwidth"
                        :overlay="overlay"
                        :right="right"
                        v-model="isopenDataMentah"
                    >
                        <b-field label="Data Mentah Blacklist">
                            <b-input
                                readonly
                                type="textarea"
                                :value="data_mentah"
                            ></b-input>
                        </b-field>
                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDataMentah = false"
                            >Close</b-button
                        >
                    </b-sidebar>
                </section>
                <section>
                    <b-sidebar
                        type="is-light"
                        :fullheight="fullheight"
                        :fullwidth="true"
                        :overlay="overlay"
                        :right="right"
                        v-model="openDetailBlacklist"
                    >
                        <h5>View Detail Blacklist</h5>
                        <b-table
                            :data="detail_blacklist"
                            :striped="striped"
                            :debounce-search="1000"
                            :paginated="isPaginated"
                            :per-page="perPage"
                            :current-page.sync="currentPage"
                            :pagination-simple="isPaginationSimple"
                            :pagination-position="paginationPosition"
                            :default-sort-direction="defaultSortDirection"
                            :pagination-rounded="isPaginationRounded"
                            :sort-icon="sortIcon"
                            :sort-icon-size="sortIconSize"
                            aria-next-label="Next page"
                            aria-previous-label="Previous page"
                            aria-page-label="Page"
                            aria-current-label="Current page"
                        >
                            <b-table-column
                                field="name"
                                label="Nama"
                                
                                v-slot="props"
                            >
                                {{ props.row.name }}
                            </b-table-column>

                            <b-table-column
                                field="alias"
                                label="Alias"
                                
                                v-slot="props"
                            >
                                <span v-if="props.row.alias == null">0</span
                                ><span v-else>{{ props.row.alias }}</span>
                            </b-table-column>

                            <b-table-column
                                field="bod"
                                label="Birth Date"
                                
                                v-slot="props"
                            >
                                {{
                                    new Date(
                                        props.row.report_date
                                    ).toLocaleDateString()
                                }}
                            </b-table-column>

                            <b-table-column
                                field="nik"
                                label="NIK"
                                
                                v-slot="props"
                            >
                                {{ props.row.nik }}
                            </b-table-column>
                        </b-table>

                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="openDetailBlacklist = false"
                            >Close</b-button
                        >
                    </b-sidebar>
                </section>
            </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            isLoading: false,
            isFullPage: true,
            open: false,
            openDetailBlacklist: false,
            overlay: true,
            fullheight: true,
            fullwidth: false,
            right: true,
            data:[],
            data_client: [],
            data_blacklist: [],
            data_report: [],
            detail_blacklist: [],
            data_admin: {},
            data_mentah: "",
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            name: "",
            nik: "",
            bod: null,
            isopenDataMentah: false,
            disabled: true
        };
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
            if (response.data.status == 0) {
                window.location.href = "/login";
            } else {
                this.isLoading = false;
                if(response.data.data.id_role == 1){
                  
                }else if(response.data.data.id_role == 2){
                  
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
            }
        });
    },
    methods: {
        confirmReport() {
            this.$buefy.dialog.confirm({
                title: "Reporting",
                message:
                    "Are you sure you want to <b>report</b> this? This action cannot be undone.",
                confirmText: "Report",
                type: "is-danger",
                hasIcon: true,
                onConfirm: () => {
                    try {
                        axios
                            .post("/api/checking/report", {
                                name: this.name,
                                nik: this.nik,
                                dob: this.bod,
                                id_history: this.data.id
                            })
                            .then(
                                function(response) {
                                    if (response.data == null) {
                                        this.$buefy.snackbar.open({
                                            message: "Report Failed",
                                            type: "is-warning",
                                            position: "is-top",
                                            actionText: "Retry",
                                            indefinite: true,
                                            onAction: () => {
                                                this.isLoading = false;
                                            }
                                        });
                                    } else {
                                        this.$buefy.toast.open({
                                            message: "Report Success",
                                            type: "is-success"
                                        });
                                        this.isLoading = true;
                                        setTimeout(this.validate(), 2000);
                                        
                                    }
                                }.bind(this)
                            );
                    } catch (error) {
                        this.$buefy.snackbar.open({
                            message: "Report Failed",
                            type: "is-warning",
                            position: "is-top",
                            actionText: "Retry",
                            indefinite: true,
                            onAction: () => {
                                this.isLoading = false;
                            }
                        });
                    }
                }
            });
        },
        validate() {
            if (
                this.$refs.name.checkHtml5Validity() &&
                this.$refs.nik.checkHtml5Validity() &&
                this.$refs.dob.checkHtml5Validity()
            ) {
                this.isLoading = true;
                this.disabled = false;
                this.data_client = [];
                this.data_blacklist = [];
                this.data_report = [];
                this.detail_blacklist = [];
                this.data = []
                try {
                    axios
                        .post("/api/checking/store", {
                            name: this.name,
                            nik: this.nik,
                            birth_date: new Date(this.bod).toLocaleDateString()
                        })

                        .then(
                            function(response) {
                                if (response.data == 0) {
                                    this.$buefy.snackbar.open({
                                        message: "Searching Failed",
                                        type: "is-warning",
                                        position: "is-top",
                                        actionText: "Retry",
                                        indefinite: true,
                                        onAction: () => {
                                            this.isLoading = false;
                                        }
                                    });
                                } else {
                                    (response.data);
                                    this.isLoading = false;
                                    this.data_client =
                                        response.data.data_client;
                                    this.data = response.data;
                                    this.data_admin = response.data.users;

                                    if (
                                        response.data.blacklist_data.length ==
                                            0 ||
                                        response.data.blacklist_data == null
                                    ) {
                                        this.dataprops = {
                                            name: response.data.name,
                                            nik: response.data.nik,
                                            birth_date:
                                                response.data.birth_date,
                                            total_blacklist: 0,
                                            total_client: 1
                                        };
                                    } else {
                                        this.data_blacklist =
                                            response.data.blacklist_data;
                                        this.detail_blacklist =
                                            response.data.blacklist_data;
                                        this.dataprops = {
                                            name: response.data.name,
                                            nik: response.data.nik,
                                            birth_date:
                                                response.data.birth_date,
                                            total_blacklist:
                                                response.data.blacklist_data
                                                    .length,
                                            total_client: 1
                                        };
                                    }
                                    if (
                                        response.data.report.length == 0 ||
                                        response.data.report == null
                                    ) {
                                        document.getElementById(
                                            "report_history"
                                        ).style.display = "none";
                                    } else {
                                        this.data_report = response.data.report;
                                    }
                                    document.getElementById(
                                        "result"
                                    ).style.display = "block";
                                }
                            }.bind(this)
                        ).catch(error => {
                             this.$buefy.snackbar.open({
                                    message: "Searching Failed",
                                    type: "is-warning",
                                    position: "is-top",
                                    actionText: "Retry",
                                    indefinite: true,
                                    onAction: () => {
                                        this.isLoading = false;
                                    }
                                });
                        })
                } catch (error) {
                    this.$buefy.snackbar.open({
                        message: "Searching Failed",
                        type: "is-warning",
                        position: "is-top",
                        actionText: "Retry",
                        indefinite: true,
                        onAction: () => {
                            this.isLoading = false;
                        }
                    });
                }
            }
        },
        openDataMentah(id) {
            for (var i = 0; i < this.data_blacklist.length; i++) {
                if (this.data_blacklist[i].id == id) {
                    this.data_mentah = this.data_blacklist[i].data_mentah;
                    this.isopenDataMentah = true;
                }
            }
        }
    }
};
</script>
