<template>
    <div>
        <r-app
            :sidebar-menu-data="{
                menus: menus,
                defaultIcon: 'brightness-1',
                logoUrl: '/logo.png',
                settings: {
                    showedMenus: {
                        firstLevel: 5,
                        secondLevel: 2
                    }
                }
            }"
        >
            <template #header-right>
                <b-dropdown aria-role="list">
                    <template #trigger="{ active }">
                        <b-button
                            :label="name"
                            type="is-text"
                            :icon-right="active ? 'menu-up' : 'menu-down'"
                        />
                    </template>

                    <b-dropdown-item aria-role="listitem" @click="signout()"
                        ><b-icon icon="logout"></b-icon> Logout</b-dropdown-item
                    >
                </b-dropdown>
            </template>
            <template #default>
                <router-view />
            </template>
        </r-app>
    </div>
</template>
<script>
export default {
    computed: {
        bottomMenus() {}
    },
    beforeCreate() {
        axios.get("/api/users/login-checker").then(response => {
            if (response.data.status == 0) {
                window.location.href = "/login";
            } else {
                //alert("in")
                this.name = response.data.data.name;
                switch (response.data.data.id_role) {
                    case 1:
                        this.menus = [
                            {
                                path: "/dashboard",
                                title: "Dashboard",
                                icon: "view-dashboard"
                            },
                            {
                                basePath: "/deduplication",
                                title: "Deduplication",
                                icon: "content-duplicate",
                                children: [
                                    {
                                        path: "/bulk-upload",
                                        title: "Bulk Upload"
                                    },
                                    {
                                        path: "/single-searching",
                                        title: "Single Searching"
                                    },
                                    {
                                        path: "/check-history",
                                        title: "Client Check History"
                                    },
                                    {
                                        path: "/report-history",
                                        title: "Report History"
                                    }
                                ]
                            },
                            {
                                path: "/master-data",
                                title: "Client Master Data",
                                icon: "database"
                            },
                            {
                                basePath: "/blacklist-data",
                                title: "Blacklist Master Data",
                                icon: "cancel",
                                children: [
                                    {
                                        path: "/blacklist",
                                        title: "Master Data"
                                    },
                                    {
                                        path: "/bulk-upload",
                                        title: "Bulk Upload"
                                    }
                                ]
                            },

                            {
                                basePath: "/setting",
                                title: "Setting",
                                icon: "cog",
                                children: [
                                    {
                                        path: "/user-setting",
                                        title: "Admin User Setting"
                                    },
                                    {
                                        path: "/create-branch",
                                        title: "Create Branch"
                                    }
                                ]
                            }
                        ];
                        break;
                    case 2:
                        this.menus = [
                            {
                                path: "/dashboard",
                                title: "Dashboard",
                                icon: "view-dashboard"
                            },
                            {
                                basePath: "/deduplication",
                                title: "Deduplication",
                                icon: "content-duplicate",
                                children: [
                                    {
                                        path: "/bulk-upload",
                                        title: "Bulk Upload"
                                    },
                                    {
                                        path: "/single-searching",
                                        title: "Single Searching"
                                    },
                                    {
                                        path: "/check-history",
                                        title: "Client Check History"
                                    }
                                ]
                            },
                            {
                                path: "/master-data",
                                title: "Client Master Data",
                                icon: "database"
                            },
                            {
                                basePath: "/blacklist-data",
                                title: "Blacklist Master Data",
                                icon: "cancel",
                                children: [
                                    {
                                        path: "/blacklist",
                                        title: "Master Data"
                                    },
                                    {
                                        path: "/bulk-upload",
                                        title: "Bulk Upload"
                                    }
                                ]
                            }
                        ];
                        break;
                    case 3:
                        this.menus = [
                            {
                                path: "/dashboard",
                                title: "Dashboard",
                                icon: "view-dashboard"
                            },
                            {
                                basePath: "/deduplication",
                                title: "Deduplication",
                                icon: "content-duplicate",
                                children: [
                                    {
                                        path: "/report-history",
                                        title: "Report History"
                                    }
                                ]
                            }
                        ];
                        break;
                    default:
                        this.menus = [
                            {
                                path: "/dashboard",
                                title: "Dashboard",
                                icon: "view-dashboard"
                            },
                            {
                                basePath: "/deduplication",
                                title: "Deduplication",
                                icon: "content-duplicate",
                                children: [
                                    {
                                        path: "/bulk-upload",
                                        title: "Bulk Upload"
                                    },
                                    {
                                        path: "/single-searching",
                                        title: "Single Searching"
                                    },
                                    {
                                        path: "/check-history",
                                        title: "Client Check History"
                                    },
                                    {
                                        path: "/report-history",
                                        title: "Report History"
                                    }
                                ]
                            },
                            {
                                path: "/master-data",
                                title: "Client Master Data",
                                icon: "database"
                            },
                            {
                                basePath: "/blacklist-data",
                                title: "Blacklist Master Data",
                                icon: "cancel",
                                children: [
                                    {
                                        path: "/blacklist",
                                        title: "Master Data"
                                    },
                                    {
                                        path: "/bulk-upload",
                                        title: "Bulk Upload"
                                    }
                                ]
                            },

                            {
                                basePath: "/setting",
                                title: "Setting",
                                icon: "cog",
                                children: [
                                    {
                                        path: "/user-setting",
                                        title: "Admin User Setting"
                                    },
                                    {
                                        path: "/create-branch",
                                        title: "Create Branch"
                                    }
                                ]
                            }
                        ];
                }

            }
        });
    },
    data() {
        return {
            isNotificationActive: false,
            isOnline: false,
            name: "",
            menus: [
                {
                    path: "/dashboard",
                    title: "Dashboard",
                    icon: "view-dashboard"
                },
                {
                    basePath: "/deduplication",
                    title: "Deduplication",
                    icon: "content-duplicate",
                    children: [
                        {
                            path: "/bulk-upload",
                            title: "Bulk Upload"
                        },
                        {
                            path: "/single-searching",
                            title: "Single Searching"
                        },
                        {
                            path: "/check-history",
                            title: "Client Check History"
                        },
                        {
                            path: "/report-history",
                            title: "Report History"
                        }
                    ]
                },
                {
                    path: "/master-data",
                    title: "Client Master Data",
                    icon: "database"
                },
                {
                    basePath: "/blacklist-data",
                    title: "Blacklist Master Data",
                    icon: "cancel",
                    children: [
                        {
                            path: "/blacklist",
                            title: "Master Data"
                        },
                        {
                            path: "/bulk-upload",
                            title: "Bulk Upload"
                        }
                    ]
                },

                {
                    basePath: "/setting",
                    title: "Setting",
                    icon: "cog",
                    children: [
                        {
                            path: "/user-setting",
                            title: "Admin User Setting"
                        },
                        {
                            path: "/create-branch",
                            title: "Create Branch"
                        }
                    ]
                }
            ],
            notificationData: []
        };
    },
    methods: {
        signout() {
            axios.get("/api/users/logout").then(response => {
                if (response.data.status == 1) {
                    location.reload();
                } else {
                    this.$buefy.toast.open({
                        message: "Logout Failed",
                        type: "is-error"
                    });
                }
            });
        }
    }
};
</script>
<style>
#mustclick {
    display: none;
}
</style>
