<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Deduplication System Dashboard</h2>
        </template>
        <template #page-content>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>

            <b-field class="page-filter">
                <b-select v-model="filter">
                    <option value="daily">Daily</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </b-select>
            </b-field>
            <div class="columns">
                <div class="column">
                    <div class="title">Data Check</div>
                    <div class="total" id="DataCheck">-</div>
                </div>
                <div class="column">
                    <div class="title">Report</div>
                    <div class="total" id="report">-</div>
                </div>
                <div class="column">
                    <div class="title">Blacklist Result</div>
                    <div class="total" id="Blacklist">-</div>
                </div>
            </div>
            <div class="small">
                <pie-chart :chart-data="blacklist"></pie-chart>
                <pie-chart :chart-data="deduplication"></pie-chart>
            </div>
            <div class="small">
                <pie-chart :chart-data="both"></pie-chart>
            </div>
        </template>
    </r-page>
</template>
<script>
import PieChart from "./PieChart.js";
export default {
    data() {
        return {
            isLoading: false,
            isFullPage: true,
            filter: "daily",
            blacklist: null,
            deduplication: null,
            both: null
        };
    },
    components: {
        PieChart
    },
    watch: {
        filter(value) {
            this.isLoading = true;
            axios.get("/api/dashboard?filter=" + value).then(response => {
                document.getElementById("DataCheck").innerHTML =
                    response.data.count_checking;
                document.getElementById("report").innerHTML =
                    response.data.count_report;
                document.getElementById("Blacklist").innerHTML =
                    response.data.count_blacklist;
                this.blacklist = {
                    labels: ["Not Included at Blacklist", "Blacklist Included"],
                    datasets: [
                        {
                            backgroundColor: ["#191978", "#cecef5"],
                            data: [
                                response.data.blacklist_chart
                                    .jumlah_not_include,
                                response.data.blacklist_chart.jumlah_include
                            ]
                        }
                    ]
                };
                this.deduplication = {
                    labels: [
                        "Not Included Deduplication",
                        "Included Deduplication"
                    ],
                    datasets: [
                        {
                            backgroundColor: ["#191978", "#cecef5"],
                            data: [
                                response.data.dedup_chart.jumlah_not_include,
                                response.data.dedup_chart.jumlah_include
                            ]
                        }
                    ]
                };
                this.both = {
                    labels: [
                        "Not Included at Deduplication & Blacklist",
                        "Deduplication & Blacklist Included"
                    ],
                    datasets: [
                        {
                            backgroundColor: ["#191978", "#cecef5"],
                            data: [
                                response.data.all_chart.jumlah_not_include_all,
                                response.data.all_chart.jumlah_include_all
                            ]
                        }
                    ]
                };
            });
            this.isLoading = false;
        }
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
            if (response.data.status == 0) {
                window.location.href = "/login";
            } else {
                this.isLoading = false;
            }
        });

        axios.get("/api/dashboard?filter=daily").then(response => {
            document.getElementById("DataCheck").innerHTML =
                response.data.count_checking;
            document.getElementById("report").innerHTML =
                response.data.count_report;
            document.getElementById("Blacklist").innerHTML =
                response.data.count_blacklist;

            this.blacklist = {
                labels: ["Not Included at Blacklist", "Blacklist Included"],
                datasets: [
                    {
                        backgroundColor: ["#191978", "#cecef5"],
                        data: [
                            response.data.blacklist_chart.jumlah_not_include,
                            response.data.blacklist_chart.jumlah_include
                        ]
                    }
                ]
            };
            this.deduplication = {
                labels: [
                    "Not Included Deduplication",
                    "Included Deduplication"
                ],
                datasets: [
                    {
                        backgroundColor: ["#191978", "#cecef5"],
                        data: [
                            response.data.dedup_chart.jumlah_not_include,
                            response.data.dedup_chart.jumlah_include
                        ]
                    }
                ]
            };
            this.both = {
                labels: [
                    "Not Included at Deduplication & Blacklist",
                    "Deduplication & Blacklist Included"
                ],
                datasets: [
                    {
                        backgroundColor: ["#191978", "#cecef5"],
                        data: [
                            response.data.all_chart.jumlah_not_include_all,
                            response.data.all_chart.jumlah_include_all
                        ]
                    }
                ]
            };
        });
    }
};
</script>
<style>
.small {
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: space-around;
}
</style>
