<template>
    <r-page>
       
        <template #page-header>
            <h2 class="page-title">BAV Client Data View</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
        <template #page-content>
            <b-table
                :data="data"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
                backend-pagination
                :total="total"
                @page-change="onPageChange"
                :loading= "loading"
            >
                 <b-table-column
                            field="nama"
                            label="Nama"
                            
                            v-slot="props"
                        >
                            {{ props.row.name }}
                        </b-table-column>

                        <b-table-column
                            field="dob"
                            label="Date of Birth"
                            
                            v-slot="props"
                        >
                            {{
                                new Date(
                                    props.row.DateOfBirth
                                ).toLocaleDateString()
                            }}
                        </b-table-column>

                        <b-table-column
                            field="region_id"
                            label="Region ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.RegionID }}
                        </b-table-column>

                        <b-table-column
                            field="branch_id"
                            label="Branch ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.OurBranchID }}
                        </b-table-column>

                        <b-table-column
                            field="client_id"
                            label="Client ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.ClientID }}
                        </b-table-column>

                        <b-table-column
                            field="account_id"
                            label="Account ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.accountid }}
                        </b-table-column>

                        <b-table-column
                            field="disbursement_date"
                            label="First Disbursement Date"
                            
                            v-slot="props"
                        >
                            {{ props.row.FirstDisbursementDate }}
                        </b-table-column>

                        <b-table-column
                            field="group_id"
                            label="Group ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.GroupID }}
                        </b-table-column>

                        <b-table-column
                            field="group_name"
                            label="Group Name"
                            
                            v-slot="props"
                        >
                            {{ props.row.GroupName }}
                        </b-table-column>

                        <b-table-column
                            field="ktp"
                            label="KTP"
                            
                            v-slot="props"
                        >
                            {{ props.row.KTP }}
                        </b-table-column>

                         <b-table-column
                            field="wo_reason"
                            label="WO Reason"
                            
                            v-slot="props"
                        >
                            {{ props.row.wo_reason }}
                        </b-table-column>

                        <b-table-column
                            field="LoanStatusID"
                            label="Loan Status ID"
                            
                            v-slot="props"
                        >
                            {{ props.row.LoanStatusID }}
                        </b-table-column>

               
            </b-table>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            data: [],
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            isLoading: true,
            isFullPage: true,
            page: 1,
            currentPage: 1,
            loading:false,
        };
    },
    methods: {
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        loadAsyncData() {
                this.loading = true
                 axios.get("/api/checking/get_client?page="+this.page).then(response => {
                    //this.data_total = response.data.data[response.data.data.length-1].id
                    this.data = []
                    let currentTotal = response.data.total
                    if (response.data.total / this.perPage > 1000) {
                        currentTotal = this.perPage * 1000
                    }
                    this.total = currentTotal
                    response.data.data.forEach((item) => {
                        this.data.push(item)
                    })
                    this.loading = false
                });
         },
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
            if (response.data.status == 0) {
                window.location.href = "/login";
            } else {
                this.isLoading = false;
                if(response.data.data.id_role == 1){
                    this.loadAsyncData();
                }else if(response.data.data.id_role == 2){
                    this.loadAsyncData();
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
                
            }
        });
       
    }
};
</script>
