<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Blacklist Input Form</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>

        <template #page-content>
        <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <section>
                <div>
                    <b-field horizontal label="Name">
                        <b-input
                            type="text"
                            name="name"
                            ref="name"
                            expanded
                            v-model="name"
                            required
                        ></b-input>
                    </b-field>
                </div>

                <b-field horizontal label="Alias" class="hidden">
                    <b-taginput
                        ellipsis
                        icon="label"
                        placeholder="Tambah Alias"
                        v-model="alias"
                        ref="alias"
                    >
                    </b-taginput>
                </b-field>

                <b-field horizontal label="NIK">
                    <b-input
                        name="nik"
                        type="number"
                        expanded
                        v-model="nik"
                        required
                        ref="nik"
                    ></b-input>
                </b-field>
                <b-field horizontal label="Alamat">
                    <b-input
                        maxlength="200"
                        ref="addr"
                        required
                        type="textarea"
                        v-model="addr"
                    ></b-input>
                </b-field>

                <b-field horizontal label="Tanggal Lahir">
                    <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar-today"
                        trap-focus
                        editable
                        ref="bod"
                        v-model="bod"
                        required
                    >
                    </b-datepicker>
                </b-field>

                <b-field horizontal
                    ><!-- Label left empty for spacing -->
                    <p class="control">
                        <b-button
                            label="Save"
                            type="is-primary"
                            @click="checkValidity"
                        />
                        <b-button
                            type="is-primary is-light"
                            label="Cancel"
                            tag="router-link"
                            to="/blacklist-data/blacklist"
                        ></b-button>
                    </p>
                </b-field>
            </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            name: "",
            nik: "",
            addr: "",
            bod: null,
            alias:[],
            isLoading: false,
            isFullPage: true,
        };
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
                this.isLoading = false;
                if(response.data.data.id_role == 1){

                }else if(response.data.data.id_role == 2){
                  window.location = "/deduplication/report-history";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
    },
    methods: {
        checkValidity() {

            if (
                this.$refs.name.checkHtml5Validity() &&
                this.$refs.nik.checkHtml5Validity() &&
                this.$refs.addr.checkHtml5Validity()
            ) {
                this.isLoading = true;
                try{
                axios
                    .post("/api/blacklist/store", {
                        id_user: null,
                        id_bulk: null,
                        name: this.name,
                        nik: this.nik,
                        address: this.addr,
                        birth_date: this.bod,
                        data_mentah: null,
                        alias_name:this.alias
                    })
                    .then(
                        function(response) {
                            if (response.data.status == 0) {
                                this.$buefy.snackbar.open({
                                    message: "Add Blacklist Data Failed",
                                    type: "is-warning",
                                    position: "is-top",
                                    actionText: "Retry",
                                    indefinite: true,
                                    onAction: () => {
                                        this.isLoading = false;
                                    }
                                });
                            } else {
                                this.$buefy.toast.open({
                                    message:
                                        "Successfully Upload Blacklist Data",
                                    type: "is-success"
                                });
                                window.location.href = "/blacklist-data/blacklist";
                            }
                        }.bind(this)
                    );
                }catch(error){
                    console.log(error)
                }

            }
        }

    }
};
</script>
