<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Blacklist Master Data</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        <template #action-bar>
            <b-button
                type="is-success"
                tag="router-link"
                to="/blacklist-data/add-new"
                >Add New Blacklist</b-button
            >
        </template>
        <template #page-content>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <b-table
                :data="data"
                backend-pagination
                :total="total"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :loading="loading"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                @page-change="onPageChange"
                @sort="onSort"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
            >
                <b-table-column
                    field="nama"
                    label="Nama"
                    v-slot="props"
                >
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="nik" label="NIK"  v-slot="props">
                    {{ props.row.nik }}
                </b-table-column>

                <b-table-column
                    field="total_alias"
                    label="Alias"

                    v-slot="props"
                >
                    <a @click="aliasDetail(props.row.id)">{{
                        props.row.alias.length
                    }}</a>
                </b-table-column>

                <b-table-column
                    field="alamat"
                    label="Alamat"
                    width="250px"

                    v-slot="props"
                >
                    {{ props.row.address }}
                </b-table-column>

                <b-table-column
                    field="dob"
                    label="Date of Birth"

                    v-slot="props"
                >
                    {{ new Date(props.row.birth_date).toLocaleDateString() }}
                </b-table-column>

                 <b-table-column
                        field="action"
                        label="Data Mentah"

                        v-slot="props"
                    >
                        <b-button
                            type="is-success"
                            @click="openDataMentah(props.row.id)"
                            >Lihat data Detail</b-button
                        >
                    </b-table-column>

                <b-table-column field="action" label="Action" v-slot="props">
                    <div class="buttons">
                        <b-button
                            type="is-primary"
                            icon-right="pencil"
                            tag="router-link"
                            :to="{
                                name: 'update-data',
                                params: { id: props.row.id }
                            }"
                        />
                        <b-button
                            type="is-danger"
                            @click="confirmDelete(props.row.id)"
                            icon-right="delete"
                        />
                    </div>
                </b-table-column>
            </b-table>
            <section>
                    <b-sidebar
                        type="is-light"
                        :fullheight="fullheight"
                        :fullwidth="fullwidth"
                        :overlay="overlay"
                        :right="right"
                        v-model="isopenDataMentah"
                    >
                        <b-field label="Data Mentah Blacklist">
                            <b-input readonly type="textarea" :value="data_mentah"></b-input>
                        </b-field>
                        </b-table>
                        <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="isopenDataMentah = false"
                            >Close</b-button
                        >
                    </b-sidebar>
                </section>
            <section>
                <b-sidebar
                    type="is-light"
                    :fullheight="fullheight"
                    :fullwidth="fullwidth"
                    :overlay="overlay"
                    :right="right"
                    v-model="openAliasDetail"
                >
                    <h5>Alias Detail</h5>
                    <b-table
                        :data="data_alias"
                        :striped="striped"
                        :debounce-search="1000"
                        :paginated="isPaginated"
                        :per-page="perPage"
                        :current-page.sync="currentPage"
                        :pagination-simple="isPaginationSimple"
                        :pagination-position="paginationPosition"
                        :default-sort-direction="defaultSortDirection"
                        :pagination-rounded="isPaginationRounded"
                        :sort-icon="sortIcon"
                        :sort-icon-size="sortIconSize"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"
                    >
                        <b-table-column
                            field="no"
                            label="No"

                            v-slot="props"
                        >
                            {{ props.row.index }}
                        </b-table-column>

                        <b-table-column
                            field="alias_name"
                            label="Nama Alias"

                            v-slot="props"
                        >
                            {{ props.row.alias_name }}
                        </b-table-column>


                    </b-table>
                     <b-button
                            type="is-primary"
                            class="close-detail"
                            @click="openAliasDetail = false"
                            >Close</b-button
                        >
                </b-sidebar>
            </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            data: [],
            data_alias: [],
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            overlay: true,
            fullheight: true,
            fullwidth: false,
            right: true,
            openAliasDetail: false,
            isLoading: false,
            isFullPage: true,
            id: "",
            loading:false,
            total: 0,
            defaultSortOrder: 'desc',
            sortField: '',
            sortOrder: 'desc',
            page: 1,
            currentPage: 1,
            isopenDataMentah:false,
            data_mentah:""
        };
    },
    methods: {
        loadAsyncData() {
                this.loading = true
                axios.get("/api/blacklist?page="+this.page).then(response => {
                    this.data = []
                    let currentTotal = response.data.total
                    if (response.data.total / this.perPage > 1000) {
                        currentTotal = this.perPage * 1000
                    }
                    this.total = currentTotal
                    response.data.data.forEach((item) => {
                        this.data.push(item)
                    })
                    this.loading = false
                });

        },
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        confirmDelete(id) {
            this.$buefy.dialog.confirm({
                title: "Deleting",
                message:
                    "Are you sure you want to <b>delete</b> this? This action cannot be undone.",
                confirmText: "Delete",
                type: "is-danger",
                hasIcon: true,
                onConfirm: () => {
                    axios
                        .post("/api/blacklist/destroy", {
                            id: id
                        })
                        .then(
                            function(response) {
                                if (response.data.status == 0) {
                                    this.$buefy.snackbar.open({
                                        message: "Delete Blacklist Failed",
                                        type: "is-warning",
                                        position: "is-top",
                                        actionText: "Retry",
                                        indefinite: true,
                                        onAction: () => {
                                            this.isLoading = false;
                                        }
                                    });
                                } else {
                                    this.$buefy.toast.open({
                                        message: "Blacklist Deleted",
                                        type: "is-success"
                                    });
                                    this.isLoading = true;
                                    location.reload();
                                }
                            }.bind(this)
                        );
                }
            });
        },
        openDataMentah(id){
             for (var i = 0; i < this.data.length; i++) {
                if(this.data[i].id == id){
                    this.data_mentah = this.data[i].data_mentah
                    this.isopenDataMentah = true
                }
            }
        },
        aliasDetail(id) {
            for (var i = 0; i < this.data.length; i++) {
                if(this.data[i].id == id){
                    this.data_alias = this.data[i].alias
                    this.openAliasDetail = true
                }
            }
        }
    },
    created() {
         axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
               if(response.data.data.id_role == 1){
                  this.loadAsyncData();
                }else if(response.data.data.id_role == 2){
                  window.location = "/deduplication/report-history";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });

    }
};
</script>
