<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Blacklist Input Form</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>

        <template #page-content>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <section>
                <b-field horizontal label="Name">
                    <b-input
                        type="text"
                        name="name"
                        id="name"
                        ref="name"
                        :value="blacklistData.name"
                        expanded
                        required
                    ></b-input>
                </b-field>

                <b-field horizontal label="Alias" class="hidden">
                    <b-taginput
                        ellipsis
                        icon="label"
                        v-model="alias"
                        placeholder="Tambah Alias"
                        id="alias"
                        ref="alias"
                    >
                    <template slot="selected" slot-scope="value">
                        <b-tag
                        v-for="(tag, index) in aliasData"
                        :key="index"

                        rounded
                        :tabstop="false"
                        ellipsis
                        closable
                        @close="removeTag(tag)"
                        >
                        {{ tag }}
                        </b-tag>
                    </template>
                    </b-taginput>

                </b-field>

                <b-field horizontal label="NIK">
                    <b-input
                        name="nik"
                        type="number"
                        expanded
                        :value="blacklistData.nik"
                        required
                        id="nik"
                        ref="nik"
                    ></b-input>
                </b-field>
                <b-field horizontal label="Alamat">
                    <b-input
                        maxlength="200"
                        id="addr"
                        ref="addr"
                        required
                        type="textarea"
                        :value="blacklistData.address"
                    ></b-input>
                </b-field>

                <b-field horizontal label="Tanggal Lahir">
                    <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar-today"
                        trap-focus
                        editable
                        id="bod"
                        ref="bod"
                        :value="new Date(blacklistData.birth_date)"
                        required
                    >
                    </b-datepicker>
                </b-field>

                <b-field horizontal
                    ><!-- Label left empty for spacing -->
                    <p class="control">
                        <b-button
                            label="Save"
                            type="is-primary"
                            @click="checkValidity"
                        />
                        <b-button
                            type="is-primary is-light"
                            label="Cancel"
                            tag="router-link"
                            to="/blacklist-data/blacklist"
                        ></b-button>
                    </p>
                </b-field>
            </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            isLoading: false,
            isFullPage: true,
            router: this.$route.params.id,
            blacklistData: {},
            aliasData: [],
            alias:[],
            aliasNew:[]
        };
    },
    mounted() {
        this.getData();
    },
    watch: {
        alias(value){
            this.aliasData.push(value[value.length-1])
            this.aliasNew.push(value[value.length-1])
        }
    },
    methods: {
        async getData() {
            try {
                let response = await axios.get(
                    "/api/blacklist/get?id=" + this.router
                );
                this.blacklistData = response.data;
                for (var i = 0; i < this.blacklistData.alias.length; i++) {
                    this.aliasData[i] = this.blacklistData.alias[i].alias_name
                }

            } catch (error) {
            }
        },
        removeTag(tag){
             this.aliasData = this.aliasData.filter(item => item !== tag)
             this.aliasNew = this.aliasNew.filter(item => item !== tag)
        },
        updateAlias(){
            axios
                    .post("/api/blacklist/update_alias", {
                        id_blacklist: this.router,
                        name: this.aliasData,
                        nik: document.getElementById("nik").value,
                        address: document.getElementById("addr").value,
                        birth_date : document.getElementById("bod").value,
                    })

                    .then(
                        function(response) {
                            if (response.data == 0) {
                                this.$buefy.snackbar.open({
                                    message: "Update Blacklist Data Failed",
                                    type: "is-warning",
                                    position: "is-top",
                                    actionText: "Retry",
                                    indefinite: true,
                                    onAction: () => {
                                        this.isLoading = false;
                                    }
                                });
                            } else {
                                this.$buefy.toast.open({
                                    message:
                                        "Successfully Update Blacklist Data",
                                    type: "is-success"
                                });

                                window.location.href =
                                    "/blacklist-data/blacklist";
                            }
                        }.bind(this)
                    );
        },
        checkValidity() {
            if (
                this.$refs.name.checkHtml5Validity() &&
                this.$refs.nik.checkHtml5Validity() &&
                this.$refs.addr.checkHtml5Validity()
            ) {
                this.isLoading = true;
                axios
                    .post("/api/blacklist/update", {
                        id: this.router,
                        id_user: null,
                        id_bulk: null,
                        name: document.getElementById("name").value,
                        nik: document.getElementById("nik").value,
                        address: document.getElementById("addr").value,
                        birth_date: document.getElementById("bod").value,
                        data_mentah: null,
                        alias_name: document.getElementById("alias").value
                    })

                    .then(
                        function(response) {
                            if (response.data == 0) {
                                this.$buefy.snackbar.open({
                                    message: "Update Blacklist Data Failed",
                                    type: "is-warning",
                                    position: "is-top",
                                    actionText: "Retry",
                                    indefinite: true,
                                    onAction: () => {

                                        this.isLoading = false;
                                    }
                                });
                            } else {
                                this.updateAlias()
                            }
                        }.bind(this)
                    );
            }
        }
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
               if(response.data.data.id_role == 1){

                }else if(response.data.data.id_role == 2){
                  window.location = "/deduplication/report-history";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
    }
};
</script>
