<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Add User</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>

        <template #page-content>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <section>
                <b-field horizontal label="Name">
                    <b-input
                        type="text"
                        name="name"
                        ref="name"
                        v-model="name"
                        expanded
                        required
                    ></b-input>
                </b-field>

                <b-field horizontal label="NIK">
                    <b-input
                        type="number"
                        name="nik"
                        ref="nik"
                        v-model="nik"
                        expanded
                        required
                    ></b-input>
                </b-field>



                <b-field horizontal label="Branch ID">
                    <b-select
                        placeholder="Select a Branch"
                        ref="branch"
                        v-model="id_branch"
                        class="dropdown-new"
                        required
                    >
                        <option
                            v-for="option in branch.slice().reverse()"
                            :value="option.id"
                            :key="option.id"
                        >
                            {{ option.branchid }} - {{ option.branchname }}
                        </option>
                    </b-select>
                </b-field>

                <b-field horizontal label="Role">
                    <b-select
                        placeholder="Select a Role"
                        ref="role"
                        v-model="id_role"
                        class="dropdown-new"
                        required
                    >
                        <option
                            v-for="option in role"
                            :value="option.id"
                            :key="option.id"
                        >
                            {{ option.name }}
                        </option>
                    </b-select>
                </b-field>

                <b-field horizontal
                    ><!-- Label left empty for spacing -->
                    <p class="control">
                        <b-button
                            label="Save"
                            @click="validate"
                            type="is-primary"
                        />
                        <b-button
                            type="is-primary is-light"
                            label="Cancel"
                            tag="router-link"
                            to="/setting"
                        ></b-button>
                    </p>
                </b-field>
            </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            isLoading: false,
            isFullPage: true,
            branch: [],
            role: [],
            name: "",
            nik: "",
            id_branch: "",
            id_role: "",
        };
    },
    created() {
         axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
               if(response.data.data.id_role == 1){
                  axios.get("/api/branch").then(response => {
                        this.branch = response.data;
                    });
                    axios.get("/api/role").then(response => {
                        this.role = response.data;
                    });
                }else if(response.data.data.id_role == 2){
                  window.location = "/dashboard";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });

    },
    methods: {
        validate() {
            if (
                this.$refs.name.checkHtml5Validity() &&
                this.$refs.nik.checkHtml5Validity() &&
                this.$refs.branch.checkHtml5Validity() &&
                this.$refs.role.checkHtml5Validity()
            ) {
                this.isLoading = true;

                axios
                    .post("/api/users/store", {
                        name: this.name,
                        id_branch: this.id_branch,
                        id_role: this.id_role,
                        nik: this.nik,
                        pass: ""
                    })
                    .then(
                        function(response) {
                            if (response.data.status == 0) {
                                this.$buefy.snackbar.open({
                                    message: "Add User Failed",
                                    type: "is-warning",
                                    position: "is-top",
                                    actionText: "Retry",
                                    indefinite: true,
                                    onAction: () => {
                                        this.isLoading = false;
                                    }
                                });
                            } else {
                                this.$buefy.toast.open({
                                    message: "Users added!",
                                    type: "is-success"
                                });
                                window.location.href = "user-setting";
                            }
                        }.bind(this)
                    );
            }
        }
    }
};
</script>
