<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Branch Mapping Table</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        
        <template #page-content>
        <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <b-table
                :data="data"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
            >
               

                <b-table-column
                    field="branch_id"
                    centered
                    label="Branch ID"
                    
                    v-slot="props"
                >
                    {{ props.row.branchid }}
                </b-table-column>

                <b-table-column
                    field="branch_name"
                    centered
                    label="Branch Name"
                    
                    v-slot="props"
                >
                    {{ props.row.branchname }}
                </b-table-column>

                <b-table-column
                    field="regional"
                    centered
                    label="Regional"
                    
                    v-slot="props"
                >
                    {{ props.row.regional }}
                </b-table-column>

                <b-table-column
                    field="area"
                    centered
                    label="Area"
                    
                    v-slot="props"
                >
                    {{ props.row.area }}
                </b-table-column>

                <b-table-column
                    field="province"
                    centered
                    label="Province"
                    
                    v-slot="props"
                >
                    {{ props.row.province }}
                </b-table-column>
            </b-table>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            data: [],
            striped: true,
            isPaginated: true,
            isLoading: true,
            isFullPage: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20
        };
    },
    created() {
         axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
                window.location.href = "/login";
           }else{
               this.isLoading = false
                if(response.data.data.id_role == 1){
                  axios.get("/api/branch").then(response => {
                        this.data = response.data;
                    });
                }else if(response.data.data.id_role == 2){
                  window.location = "/dashboard";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
        
    }
};
</script>
