<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Blacklist Input Form</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>

        <template #page-content>
            <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <section>
                <b-field horizontal label="Branch ID" >
                    <b-input name="branch_id" type="text" v-model="id_branch" expanded required></b-input>
                </b-field>

                <b-field horizontal label="Branch Name" >
                    <b-input name="branch_name" type="text" v-model="name" expanded required></b-input>
                </b-field>

                <b-field horizontal label="Province">
                    <b-select placeholder="Select a Province" v-model="province" required>
                        <option value="1">Jawa Barat</option>
                        <option value="2">Jawa Timur</option>
                        <option value="3">Jawa Tengah</option>
                    </b-select>
                </b-field>

                <b-field horizontal
                    ><!-- Label left empty for spacing -->
                    <p class="control">
                        <b-button label="Save" type="is-primary" />
                        <b-button
                            type="is-primary is-light"
                            label="Cancel"
                            tag="router-link"
                            to="/setting/create-branch"
                        ></b-button>
                    </p>
                </b-field>
            </section>
        </template>
    </r-page>
</template>
<script>
export default {
    data() {
        return {
            isLoading: false,
            isFullPage: true,
            name: "",
            id_branch:"",
            province:""
        };
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
                if(response.data.data.id_role == 1){
                  
                }else if(response.data.data.id_role == 2){
                  window.location = "/dashboard";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });
    }
};
</script>
