<template>
    <r-page>
        <template #page-header>
            <h2 class="page-title">Admin User Table</h2>
            <r-third-level-menu></r-third-level-menu>
        </template>
        <template #action-bar>
            <b-button type="is-success" tag="router-link" to="/setting/add-new"
                >Create New User</b-button
            >
        </template>
        <template #page-content>
         <b-loading
                :is-full-page="isFullPage"
                v-model="isLoading"
                :can-cancel="true"
            ></b-loading>
            <b-table
                :data="data"
                :striped="striped"
                :debounce-search="1000"
                :paginated="isPaginated"
                :per-page="perPage"
                :current-page.sync="currentPage"
                :pagination-simple="isPaginationSimple"
                :pagination-position="paginationPosition"
                :default-sort-direction="defaultSortDirection"
                :pagination-rounded="isPaginationRounded"
                :sort-icon="sortIcon"
                :sort-icon-size="sortIconSize"
                default-sort="user.first_name"
                aria-next-label="Next page"
                aria-previous-label="Previous page"
                aria-page-label="Page"
                aria-current-label="Current page"
            >


                <b-table-column
                    field="admin_nik"
                    centered
                    label="NIK Admin"

                    v-slot="props"
                >
                    <span v-if="props.row.nik == null"></span><span v-else>{{ props.row.nik }}</span>
                </b-table-column>

                <b-table-column
                    field="name"
                    centered
                    label="Name"

                    v-slot="props"
                >
                    <span v-if="props.row.name == null"></span><span v-else>{{ props.row.name }}</span>
                </b-table-column>

                <b-table-column
                    field="branch"
                    centered
                    label="Branch"

                    v-slot="props"
                >
                    <span v-if="props.row.branch == null"></span><span v-else>{{ props.row.branch.branchid }}</span>
                </b-table-column>

                <b-table-column
                    field="role"
                    centered
                    label="Role"

                    v-slot="props"
                >
                    <span v-if="props.row.role.name == null"></span><span v-else>{{ props.row.role.name }}</span>
                </b-table-column>

                <b-table-column
                    field="action"
                    centered
                    label="Action"
                    v-slot="props"
                >
                    <div class="buttons">

                        <b-button
                            type="is-danger"
                            icon-right="delete"
                            @click="confirmDelete(props.row.id)"
                        />

                    </div>
                </b-table-column>
            </b-table>
        </template>
    </r-page>
</template>
<script>
/*
    export default {
        data() {
            return {
                data: [
                   { 'no':1,'admin_nik': '123456787979', 'name': 'Roy', 'branch': '0033', 'role': 'Admin'}],
                striped:true,
                isPaginated: true,
                isPaginationSimple: false,
                isPaginationRounded: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',
                currentPage: 1,
                perPage: 20
            }
        }
    }
    */
import axios from "axios";
export default {
    data() {
        return {
            data: [],
            striped: true,
            isPaginated: true,
            isPaginationSimple: false,
            isPaginationRounded: false,
            paginationPosition: "bottom",
            defaultSortDirection: "asc",
            sortIcon: "arrow-up",
            sortIconSize: "is-small",
            currentPage: 1,
            perPage: 20,
            isLoading: true,
            isFullPage: true,
        };
    },
    created() {
        axios.get("/api/users/login-checker").then(response => {
           if(response.data.status == 0){
               window.location.href = "/login";
           }else{
               this.isLoading = false
                if(response.data.data.id_role == 1){
                  axios.get("/api/users").then(response => {
                    this.data = response.data;
                  });
                }else if(response.data.data.id_role == 2){
                  window.location = "/dashboard";
                }else if(response.data.data.id_role == 3){
                  window.location = "/deduplication/report-history";
                }
           }
        });

    },
    methods:{
        confirmDelete(id) {
            this.$buefy.dialog.confirm({
                title: "Deleting",
                message:
                    "Are you sure you want to <b>delete</b> this? This action cannot be undone.",
                confirmText: "Delete",
                type: "is-danger",
                hasIcon: true,
                onConfirm: () => {
                     axios
                        .post("/api/users/destroy", {
                            id: id
                        })
                        .then(
                            function(response) {
                                if (response.data.status == 0) {
                                    this.$buefy.snackbar.open({
                                        message: "Delete User Failed",
                                        type: "is-warning",
                                        position: "is-top",
                                        actionText: "Retry",
                                        indefinite: true,
                                        onAction: () => {
                                            this.isLoading = false;
                                        }
                                    });
                                } else {
                                    this.$buefy.toast.open({
                                        message: "User Deleted",
                                        type: "is-success"
                                    });
                                    this.isLoading = true;
                                    location.reload();
                                }
                            }.bind(this)
                        );
                }
            });
        }
    }
};
</script>
